<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> Application Form</title>
</head>
<body>

<div align="center">
  <div class="container" style="width: 100%;">
    <h2> Application Form</h2>
    <form style="width: 100%;" method="post" action="/submit">
      <div class="form-group" style="width: 100%;">
        <label for="task-name" style="width: 150px; text-align: right; display: inline-block;">Task Name:</label>
        <input type="text" id="task-name" name="task" style="width: calc(100% - 170px);" required>
      </div>
      <div class="form-group" style="width: 100%;">
        <label for="description" style="width: 150px; text-align: right; display: inline-block;">Description:</label>
        <textarea id="description" name="description" rows="4" style="width: calc(100% - 170px);" required></textarea>
      </div>
      <div class="form-group" style="width: 100%;">
        <label for="date" style="width: 150px; text-align: right; display: inline-block;">Date:</label>
        <input type="date" id="date" name="date" style="width: calc(100% - 170px);" required>
      </div>
      <div class="form-group" style="width: 100%;">
        <label for="priority" style="width: 150px; text-align: right; display: inline-block;">Priority:</label>
        <input type="number" id="priority" name="priority" min="1" style="width: calc(100% - 170px);" required>
      </div>
      <div class="form-group" style="width: 100%;">
        <button type="submit">Submit</button>
      </div>
    </form>
    <hr>
    <table border="1">
        <tr>
            {% for col in dataframe.columns %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for index, row in dataframe.iterrows() %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <hr>
    <form style="width: 100%;" method="post" action="/update">
    <div class="form-group" style="width: 100%;">
        <label for="index">Index No:</label>
        <input type="number" id="index" name="index" required>
    </div>
    <div class="form-group" style="width: 100%;">
        <label for="status">Status:</label>
        <input type="text" id="status" name="status" maxlength="30" required>
    </div>
    <div class="form-group" style="width: 100%;">
        <label for="remark" style="width: 150px; text-align: right; display: inline-block;">Remark:</label>
        <textarea id="remark" name="remark" rows="4" style="width: calc(100% - 170px);" required></textarea>
    </div>
    <div class="form-group" style="width: 100%;">
        <label for="completed">Completed:</label>
        <input type="checkbox" id="completed" name="completed" value="True">
    </div>
    <div class="form-group" style="width: 100%;">
        <button type="submit">Update</button>
    </div>
</form>  
 
</body>
</html>