<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    
    <div class="mainheading">
        <h3>Task Manager</h3>
    </div>

    <div class="container">
        <div class="row">

            <div class="tabel-div col" >
                <table class="table">
                    <tr>
                        {% for col in dataframe.columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for index, row in dataframe.iterrows() %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="row">

                <div class="form-div col">
                    <form method="post" action="/submit">
                        
                        <div class="mb-3">
                            <label for="task-name" class="form-label">Task Name:</label>
                            <input type="text" id="task-name" name="task" class="form-control" required>
                        </div>
            
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <textarea id="description" name="description" rows="4" class="form-control" required></textarea>
                        </div>
            
                        <div class="mb-3">
                            <label for="date" class="form-label">Date:</label>
                            <input type="date" id="date" name="date" class="form-control" required>
                        </div>
            
                        <div class="mb-3">
                            <label for="priority" class="form-label">Priority:</label>
                            <input type="number" id="priority" name="priority" min="1" class="form-control" required>
                        </div>
                          
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                      </form>
                </div>

                <div class="form-div col">
                    <form method="post" action="/update">
                        <div class="mb-3">
                            <label for="index" class="form-label">Index No:</label>
                            <input type="number" id="index" name="index" class="form-control" required>
                        </div>
            
                        <div class="mb-3">
                            <label for="status" class="form-label">Status:</label>
                            <input type="text" id="status" name="status" maxlength="30" class="form-control" required>
                        </div>
            
                        <div class="mb-3">
                            <label for="remark" class="form-label">Remark:</label>
                            <textarea id="remark" name="remark" rows="4" class="form-control" required></textarea>
                        </div>
            
                        <div class="mb-3">
                            <label for="completed" class="form-label">Completed:</label>
                            <input type="checkbox" id="completed" name="completed" value="True" class="checkbox">
                        </div>
            
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
            
                </div>



            </div>
            
        </div>
    </div>

    

    

    

    
</body>

<style>

    .mainheading{
        color: darkgray;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 20px;
    }

    .form-div{
        width: 320px;
    }

    .tabel-div{
        width: 420px;
    }

</style>


</html>